body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  margin: 0;
  background: #f9f9f9;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffab08;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-bottom: 70px;
  /* background-image: url("/img/Ellipse.jpg"); */
}

.logo-container {
  display: flex;
  color: white;
  margin-top: 20px;
}

header section {
  display: flex;
  margin-top: 24px;
}

.info {
  font-weight: 800;
  font-size: 50px;
}

.info span {
  color: #ff5c00;
}

.column {
  color: white;
}

section img {
  width: 326px;
  height: 326px;
}

h1 {
  margin: 0;
}

.food-category {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 24px;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

main {
  /* background-color: red; */
  max-width: 1440px;

  padding: 0 75px;
  margin: 0 auto;
  width: 100%;
}

.filter {
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.food-category img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.food-category:focus {
  background-color: #ffab08;
}

/* .food-category.seleted {
  background-color: red;
  border: 1px solid yellow;
} */

.addtocart {
  border-radius: 50px;
  border: none;
  display: flex;
  padding-left: 102px;
  padding-right: 102px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: auto;
  width: 276px;
}

.product-item {
  margin-top: 24px;
  width: 276px;
  background-color: white;
  border-radius: 18px;
  margin-right: 54px;
  height: 411px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.product {
  margin-left: 30px;
  margin-top: 50px;
}

.card--list {
  display: flex;
  flex-wrap: wrap;
}

.product-characteristic {
  display: flex;
  margin: 0;
}

h4.product-characteristic {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  margin-top: 8px;
}

h5.product-characteristic {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 8px;
}

h2.product-characteristic {
  margin-top: 16px;
  font-style: normal;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.cart-head {
  display: flex;
}

.cart-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  margin-left: 16px;
  margin-top: 24px;
}
.total {
  margin-left: 129px;
  margin-top: 28px;

  font-weight: 400;
  width: 41px;
  height: 20px;
  left: 243px;
  top: 26px;
  background: #f2f2f3;
  border-radius: 6px;
  text-align: center;
}

.cart {
  margin-top: 134px;
  margin-left: 75px;
  height: 487px;
  width: 430px;
  left: 75px;
  top: 668px;
  border-radius: 18px;
  background-color: #ffffff;
}

.food1 {
  display: flex;
  margin-top: 12px;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.weight {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 1px;
  color: #b1b1b1;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-top: 1px;
}

.mini {
  margin-left: 16px;
  position: absolute;
  margin-top: 3px;
}

.line {
  border-bottom: 1px solid #f2f2f3;
  width: 268px;
  margin-left: 15px;
  margin-bottom: 16px;
}

.quantity {
  width: 84px;
  height: 40px;
  left: 184px;
  top: 22px;
  background: #f2f2f3;
  border-radius: 12px;
  border: 0;
  margin-left: 200px;
}

.buttons {
  width: 0;
  margin-top: 9px;
}

.about-food {
  margin-left: 86px;
}

.amount {
  margin-left: 12px;
  letter-spacing: 6px;
}

.line2 {
  border-bottom: 1px solid #f2f2f3;
  width: 268px;
  margin-top: 13px;
  margin-left: -70px;
}

.total-price {
  margin-top: 34px;
  padding: 0;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
}

.total1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.total2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  margin-right: 16px;
}

.order-button {
}

.ordbutt {
  margin-top: 20px;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 32px;
  gap: 10px;
  border: none;
  width: 268px;
  height: 40px;
  left: 16px;
  top: 371px;
  background: #ff7020;
  border-radius: 12px;
}

.makeorder {
  width: 125px;
  height: 16px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.free-delivery {
  display: flex;
  margin-top: 12px;
  margin-left: 16px;
}

.fd {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-left: 8px;
}

.main-page {
  display: flex;
}

.pr-it {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  margin-left: 40px;
}

.footer {
  margin-top: 100px;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  height: 244px;
  display: block;
}

.yourmeal {
  /* margin-top: 46px; */
  margin-left: 75px;
  height: 37px;
  width: 300px;
}

.copyright {
  height: 40px;
  margin-top: 59px;
  padding: 0;
}
.copy {
  color: black;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer-contacts {
  width: 204px;
  margin-right: 0px;
  margin-left: 360px;
}

.how-to-order {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-top: 52px;
}

.phone {
  margin-top: 25px;
}
.phone a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.phone-icon {
  margin-right: 7px;
}

.logo-ic {
  margin-top: 35px;
}

.ph-ic {
  display: flex;
}

.ott {
  display: flex;
}

.social {
  margin-left: 126px;
  margin-top: 52px;
}

.media {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.social-icons {
  margin-top: 22px;
}

.vk {
  padding-right: 10px;
}

@media (min-width: 1024px) {
  .header {
  }
}

@media (min-width: 768px) {
  .header {
  }
}

@media (min-width: 320px) {
  .header {
  }
}

@media (min-width: 320px) {
  .cart {
  }
}

@media (min-width: 1024px) {
  .product-item {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .product-item {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) {
  .product-item {
  }
}

@media (min-width: 1024px) {
  .ott {
  }
}

@media (min-width: 768px) {
  .ott {
  }
}

@media (min-width: 320px) {
  .product-item {
  }
}

@media (min-width: 320px) {
}
